@charset "IBM437";
@CHARSET "ISO-8859-1";
@font-face {
  font-family: "OpenSans";
  src: url('/stylesheets/fonts/../../fonts/OpenSans-regular.ttf') format('truetype'), url('/stylesheets/fonts/../../fonts/OpenSans-regular.ttf') format('truetype'), url('/stylesheets/fonts/../../fonts/OpenSans-regular.ttf') format('truetype'), url('/stylesheets/fonts/../../fonts/OpenSans-regular.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSansLt";
  src: url('/stylesheets/fonts/../../fonts/opensans-light-webfont.ttf') format('truetype'), url('/stylesheets/fonts/../../fonts/opensans-light-webfont.woff') format('woff'), url('/stylesheets/fonts/../../fonts/opensans-light-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/../../fonts/opensans-light-webfont.svg') format('svg');
}

@font-face {
  font-family: "OpenSansLt_IE";
  src: url('/stylesheets/fonts/../../fonts/opensans-light-webfont.ttf') format('truetype'), url('/stylesheets/fonts/../../fonts/opensans-light-webfont.woff') format('woff'), url('/stylesheets/fonts/../../fonts/opensans-light-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/../../fonts/opensans-light-webfont.svg') format('svg');
}

@font-face {
  font-family: "OpenSansLtCn";
  src: url('/stylesheets/fonts/../../fonts/OpenSans-CondLight.ttf') format('truetype'), url('/stylesheets/fonts/examples/bgrove.otf') format('opentype');
}

@font-face {
  font-family: "OpenSans_IE";
  src: url('/stylesheets/fonts/../../fonts/opensans-regular-webfont.eot') format('embedded-opentype'), url('/stylesheets/fonts/examples/bgrove.otf') format('opentype');
}

/* BYU Template Stylesheet
* Last Updated: 22 Sep 2011
* Written by: BYU Web Community
* web.byu.edu  
*/
/*! normalize.css 2011-08-12T17:28 UTC · http://github.com/necolas/normalize.css */
/* line 43, ../sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 44, ../sass/main.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 45, ../sass/main.scss */
audio:not([controls]) {
  display: none;
}

/* line 46, ../sass/main.scss */
[hidden] {
  display: none;
}

/* line 47, ../sass/main.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 48, ../sass/main.scss */
body {
  margin: 0;
}

/* line 49, ../sass/main.scss */
body, button, input, select, textarea {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",sans-serif;
}

/* line 50, ../sass/main.scss */
a:focus {
  outline: thin dotted;
}

/* line 51, ../sass/main.scss */
a:hover, a:active {
  outline: 0;
}

/* line 52, ../sass/main.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 53, ../sass/main.scss */
b, strong {
  font-weight: bold;
}

/* line 54, ../sass/main.scss */
blockquote {
  margin: 1em 40px;
}

/* line 55, ../sass/main.scss */
dfn {
  font-style: italic;
}

/* line 56, ../sass/main.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 57, ../sass/main.scss */
pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

/* line 58, ../sass/main.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 59, ../sass/main.scss */
q {
  quotes: none;
}

/* line 60, ../sass/main.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 61, ../sass/main.scss */
small {
  font-size: 75%;
}

/* line 62, ../sass/main.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 63, ../sass/main.scss */
sup {
  top: -0.5em;
}

/* line 64, ../sass/main.scss */
sub {
  bottom: -0.25em;
}

/* line 65, ../sass/main.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 66, ../sass/main.scss */
dd {
  margin: 0;
}

/* line 67, ../sass/main.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 68, ../sass/main.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 69, ../sass/main.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 70, ../sass/main.scss */
figure {
  margin: 0;
}

/* line 71, ../sass/main.scss */
form {
  margin: 0;
}

/* line 72, ../sass/main.scss */
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 73, ../sass/main.scss */
legend {
  border: 0;
  *margin-left: -7px;
}

/* line 74, ../sass/main.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 75, ../sass/main.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 76, ../sass/main.scss */
table button, table input {
  *overflow: auto;
}

/* line 77, ../sass/main.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 78, ../sass/main.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 79, ../sass/main.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 80, ../sass/main.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 81, ../sass/main.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 82, ../sass/main.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 83, ../sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Text */
/* line 87, ../sass/main.scss */
body {
  /*background: url("../img/body-bg.png") no-repeat scroll center 127px #fff;*/
  background: url("../img/body-linen.png");
  color: #444;
  font: 13px/18px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;
  *font-size: small;
  min-width: 992px;
}

/* line 95, ../sass/main.scss */
h1 {
  font: bold 36px/36px "Palatino Linotype","Palatino",Times,"Times New Roman",serif;
  margin: 18px 0;
  color: #036;
}

/* line 96, ../sass/main.scss */
h2 {
  font: bold 24px/27px "Palatino Linotype","Palatino",Times,"Times New Roman",serif;
  margin: 18px 0 9px;
}

/*h3 { font:bold 15px/18px Helvetica,Arial,sans-serif }*/
/* line 98, ../sass/main.scss */
h4 {
  font: bold 13px/18px "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
}

/* line 99, ../sass/main.scss */
h5 {
  font: 13px/18px "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
}

/* line 100, ../sass/main.scss */
h6 {
  font: italic 13px/18px "Lucida Grande", "Lucida Sans", Helvetica, Arial, sans-serif;
}

/* line 101, ../sass/main.scss */
h2, h3, h4, h5, h6 {
  color: #444444;
}

/* line 102, ../sass/main.scss */
h3, h4, h5, h6 {
  margin: 9px 0;
}

/* line 103, ../sass/main.scss */
h1 + h2, h3 + h4, h4 + h5, h5 + h6 {
  margin-top: -9px;
}

/* line 104, ../sass/main.scss */
body em {
  font-style: italic;
}

/* line 105, ../sass/main.scss */
body strong {
  font-weight: bold;
}

/* line 106, ../sass/main.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 107, ../sass/main.scss */
p a {
  text-decoration: underline;
}

/* line 108, ../sass/main.scss */
p {
  margin: 9px 0;
}

/* Lists */
/* line 112, ../sass/main.scss */
ul, ol {
  margin-left: 1.5em;
}

/* line 113, ../sass/main.scss */
ol {
  list-style-type: decimal;
  margin-left: 2em;
}

/* line 114, ../sass/main.scss */
ol ol {
  list-style-type: lower-alpha;
}

/* line 115, ../sass/main.scss */
ol ol ol {
  list-style-type: lower-roman;
}

/* line 116, ../sass/main.scss */
ol ol ol ol {
  list-style-type: decimal;
}

/* line 117, ../sass/main.scss */
ol ol ol ol ol {
  list-style-type: lower-alpha;
}

/* line 118, ../sass/main.scss */
ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

/* line 119, ../sass/main.scss */
ul {
  list-style-type: disc;
  margin-left: 2em;
}

/* line 120, ../sass/main.scss */
ul ul {
  list-style-type: circle;
}

/* line 121, ../sass/main.scss */
ul ul ul {
  list-style-type: disc;
}

/* line 122, ../sass/main.scss */
ul ul ul ul {
  list-style-type: circle;
}

/* line 123, ../sass/main.scss */
ul ul ul ul ul {
  list-style-type: disc;
}

/* line 124, ../sass/main.scss */
ul ul ul ul ul ul {
  list-style-type: circle;
}

/* line 125, ../sass/main.scss */
ul ul {
  margin-top: .25em;
  margin-bottom: .25em;
}

/* line 126, ../sass/main.scss */
nav ul, nav ul ul {
  list-style: none;
}

/* line 127, ../sass/main.scss */
nav ul, nav li {
  margin: 0;
}

/* line 128, ../sass/main.scss */
dt {
  font-weight: bold;
}

/* line 129, ../sass/main.scss */
dd {
  padding: 0 0 0.75em 1em;
}

/*       Custom        */
/* line 133, ../sass/main.scss */
.wrapper {
  width: 1004px;
  margin: 0 auto;
  padding: 0 2.93rem;
  min-height: 900px;
  box-sizing: border-box;
  font-size: 14px;
}

/* line 142, ../sass/main.scss */
#content {
  margin-bottom: 27px;
  overflow: hidden;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: 0 0 30px 0px #dedede;
  -moz-box-shadow: 0 0 30px 0px #dedede;
  -webkit-box-shadow: 0 0 30px 0px #dedede;
  margin-bottom: 27px;
  overflow: hidden;
}

/* line 154, ../sass/main.scss */
.price-container {
  display: block;
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 8rem;
}
/* line 161, ../sass/main.scss */
.price-container > .category-container {
  width: 30%;
  background-color: #323232;
  display: inline-block;
  vertical-align: top;
  color: white;
  padding: 0;
}
/* line 169, ../sass/main.scss */
.price-container > .category-container > h2 {
  margin: 0;
  background-color: #dfb655;
  display: block;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.35rem;
  font-family: "OpenSans", "OpenSans_IE";
}
/* line 180, ../sass/main.scss */
.price-container > .category-container > span {
  display: inline-block;
  margin: .5rem;
  font-size: .95rem;
  color: #999;
  font-family: "OpenSans", "OpenSans_IE";
}
/* line 189, ../sass/main.scss */
.price-container > .category-container > p {
  display: block;
  font-size: 1.35rem;
  font-family: "OpenSans", "OpenSans_IE";
}
/* line 194, ../sass/main.scss */
.price-container > .category-container > p > span {
  font-size: 2.2rem;
}
/* line 200, ../sass/main.scss */
.price-container > .category-container > .benefit {
  text-align: center;
  padding: .5rem;
  border-bottom: 1px solid #888;
  font-family: "OpenSans", "OpenSans_IE";
}
/* line 208, ../sass/main.scss */
.price-container > .category-container > button {
  display: block;
  border: 1px solid #66b9e3;
  width: 150px;
  margin: 1rem auto;
  font-family: "OpenSans", "OpenSans_IE";
}
